* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    /* justify-content: space-between; */
    box-shadow: 0px 0px 3px black;
    position: sticky;

}

.navbar input {
    width: 50%;
    height: 30px;
    background-color: #e4ddddf0;

}

.login {
    border: 1px solid transparent;
    /* background-color: aliceblue; */

}

.login a {
    height: 29px;
    width: 105px;
    color: black;
}

.login a:hover {
    color: white;
}

.login:hover {
    /* background: transparent; */
    text-decoration: none;
    background-color: rgb(45, 45, 189);
    color: white;
}

.navbar a {
    display: flex;
    align-items: center;
    gap: 10px;



}

.searchicon button {
    position: absolute;
    left: 177px;
    top: 15px;
    width: 33px;
    height: 30px;
}

.login {
    display: flex;
    gap: 8px;
    height: 30px;
    align-items: center;
}

.img01 {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.headersec {
    display: flex;
    /* justify-content: space-between; */
    gap: 8px;
    align-items: center;
}

.headersec .box4 {
    /* display: flex; */
}

.icon {
    transition: all 0.2s ease;

}

.icon:hover {
    transform: rotate(180deg);
}

/* .headersec {}.......... */
.mainbox001 {
    display: flex;
    gap: 20px;
    padding: 10px;
}


.box {

    box-shadow: 0px 0px 3px black;
    height: 200px;
    width: 165px;
    /* margin: 10px; */
    text-align: center;
}

.box1 img {
    height: 116px;
    width: 100%;
    padding: 15px;
}

.box h4 {
    font-size: 12px;
}

.box10 {
    box-shadow: 0px 0px 3px black;
    height: 200px;
    width: 18%;
    padding: 15px;

}

.box10 h4 {
    font-size: 12px;
}