* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    /* justify-content: space-between; */
    box-shadow: 0px 0px 3px black;
    position: sticky;

}

.navbar input {
    width: 50%;
    height: 30px;
    background-color: #e4ddddf0;

}

.card41 {
    margin: 30px;
    gap: 15px;
}

.login {
    border: 1px solid transparent;
    /* background-color: aliceblue; */

}

.login a {
    height: 29px;
    width: 105px;
    color: black;
}

.login a:hover {
    color: white;
}

.login:hover {
    /* background: transparent; */
    text-decoration: none;
    background-color: rgb(45, 45, 189);
    color: white;
}

.navbar a {
    display: flex;
    align-items: center;
    gap: 10px;



}

.searchicon button {
    position: absolute;
    left: 177px;
    top: 15px;
    width: 33px;
    height: 30px;
}

.login {
    display: flex;
    gap: 8px;
    height: 30px;
    align-items: center;
}

.img01 {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.headersec {
    display: flex;
    /* justify-content: space-between; */
    gap: 8px;
    align-items: center;
}

.headersec .box4 {
    /* display: flex; */
}

.icon {
    transition: all 0.2s ease;

}

.icon:hover {
    transform: rotate(180deg);
}

/* .headersec {}.......... */
.mainbox001 {
    display: flex;
    gap: 20px;
    padding: 20px;
}


.box {

    box-shadow: 0px 0px 3px black;
    height: 200px;
    width: 165px;
    /* margin: 10px; */
    text-align: center;
}

.box1 img {
    height: 116px;
    width: 100%;
    padding: 15px;
}

.box h4 {
    font-size: 12px;
}

.box10 {
    box-shadow: 0px 0px 3px black;
    height: 200px;
    width: 18%;
    padding: 15px;

}

.box10 h4 {
    font-size: 12px;
}

.freepage2 .box {
    height: 220px;
    width: 150px;
}

.freepage2 .box1 img {
    height: 130px;
    width: 150px;


}

.cards {
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
}

.card11 {
    display: flex;
    padding: 15px;
    /* justify-content: space-between; */
    /* gap: 10px; */
}

.boxx2 {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.freepage3 .box4 {
    box-shadow: 0px 0px 3px black;
    height: 320px;
    width: 250px;
    /* display: flex; */
    text-align: center;
    padding: 10px;
}

.freepage3 .box4 img {

    height: 250px;
    width: 200px;

}

.freepage3 .box4 h3 {
    color: green;
    text-align: start;
}

.freepage3 .box4 p {
    text-align: start;
}

.card51 .card01 {
    margin-top: 20px;
    display: flex;
    width: 25%;
}


.card51 {
    box-shadow: 0px 0px 3px black;
    width: 100%;
    padding: 15px;
}

.footer {
    background-color: black;
    color: grey;
    text-align: start;
    /* justify-content: space-between; */
    gap: 20px;
    padding: 20px;
    /* margin: 30px; */
}

.footerPart1 {

    display: flex;
    /* flex-direction: column; */
    justify-content: START;
    gap: 160px;
    margin: 33px;

}

.footerPart2 {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin: 30px;
}

.ftr a {
    color: aliceblue;
    text-decoration: none;
}

.text1 {
    position: absolute;
    left: 290px;
    color: aliceblue;
    text-decoration: none;
}

.text1 p {
    color: gray;

}

.text2 p {
    color: gray;

}

.text2 {
    position: absolute;
    right: 192px;
    color: aliceblue;
    text-decoration: none;
}

.lastline {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
    gap: 10px;
    font-size: 13px;
}