.nav {
    position: absolute;
    top: -750px;
    /* bottom: 0; */
}

.img2 {
    position: absolute;
    top: -850px;
}

.logo {
    position: absolute;
    top: 96px;
    left: 90px;
    display: flex;
    text-align: center;
    gap: 35px;
}

.logo img {

    height: 40px;
    width: 103px;
    position: absolute;
    top: 25px;
}

.perag {
    display: flex;
    text-align: end;
    position: absolute;
    top: 120px;
    right: 187px;
    gap: 30px;
    color: rgb(33, 33, 220);
}

.mainhead {
    position: absolute;
    top: 140px;
    right: 260px;
    font-size: 25px;
    /* line-height: 103px; */
    color: #2f446b;
    font-weight: 300;
    font-family: "Nunito";
    text-align: center;
}

.whiteshap {
    position: absolute;
    bottom: -450px;
    right: 1px;
    /* z-index: 1; */
}

.vegetable img {
    position: absolute;
    bottom: -370px;
    right: 99px;
}