
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


        .fouji{
            align-self: flex-start;
            padding: 15px;
            display: flex;
            color: aliceblue;
            background-color: black;
            font-size: 20px;
            margin-left: -28px;
         }
         
         .soldier2{
            /* font-size: 20px; */
            /* background-color: orange; */
            display: flex;
            /* align-self: flex-start; */
            align-items: center;
         }
         .army{
            /* background-color: orange; */
            display: flex;
            align-items: center;
            
         }
.army select
{
    background: transparent;
    border: none;
    padding: 5px;
    color: #fff;
}
.army img{
    width: 15px;
    gap: 15px;
    height: 10  px;
}
.army button{
    height: 40px;
    color: #fff;
    background-color: black;
    border: black;
    padding-left: 10px;
}
.glass{
    background-color: orange;
    color: black;
}
.army02{
    /* height: 35px; */
    color: orange;
    /* margin-top: px; */
}
.army02 p{
    margin-left: 50px;
    padding: -50px;
    font-size: 25px;
    font-weight: 800;
    margin-top: -53px;
}
.army02 img{
    height: 40px;
    margin-bottom: -31;
    margin-left: 28px;
}
.army02{
    position: absolute;
    left: 900px;
    top: 20px;
}
.p{
    position: absolute;
    top: 10px;
    left: 927px;
}
.army03{
    position: absolute;
    right: 10px;
    top: 35px;
}
.fouji001{
    display: flex;
    gap: 20px;
    font-size: 15px;
    background-color:#2F4F4F;
    color: #fff;

}
.hedding {
    display: flex;
    gap: 15px;
    padding: 5px;
    
}
.hedding p{
    color: green;
    padding: 5px;

}
.shopnow{
    margin-right: 120px;
}
.soldier001 img{
    width: 100%;
    height: 250px;
}


.box1{
width: 25%;
}
.img-wrapper
{
    display: flex;
    flex-wrap: wrap;
}
.img-wrapper img
{
    width: 100px;
    height: 100px;
}
.img-wrapper div 
{
    width: 48%;
}

.box2{
    width: 25%;
    }
    .img-wrapper1
    {
        display: flex;
        flex-wrap: wrap;
    }
    .img-wrapper1 img
    {
        width: 100px;
        height: 100px;
    }
    .img-wrapper1 div 
    {
        width: 48%;
    }

    .box3{
        width: 25%;
        }
        .img-wrapper3
        {
            display: flex;
            flex-wrap: wrap;
        }
        .img-wrapper3 img
        {
            width: 100px;
            height: 100px;
        }
        .img-wrapper3 div 
        {
            width: 48%;
        }
        .flex01{
            /* width: 100%; */
            padding: 20px;
            display: flex;
            justify-content: space-evenly;
            gap: 80px;
            background-color: darkgray;

        }

        .box1 button, .box2 button , .box3 button
        {display: flex;
        justify-content: center;
        /* color: blue; */

    flex-direction: column;
gap: 10px;}
        .box1 button p, .box2 button p,.box3 button p 
        {
            align-self: start;
            /* margin-top: 15px; */
            padding-left: 10px;
            
        }

         

        
         .box{
            margin: 10px;
            display: flex;
            gap: 5px;
            overflow: hidden;
            
         }
         .text-box{
            display: flex;
         }
         .button{
            background-color: red;
            color: #fff;
         }
         .text-color{
            color: red;
         }
        

         .but00{
            height: 100px;
            width: 40px;
            position: absolute;
            left: 3px;
            top: 1700px;
         }

         .but000{
            height: 100px;
            width: 40px;
            position: absolute;
            right: 3px;
            top: 1700px;
         }
        


         
        
         

        