* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow-x: hidden; */
}

.contanors {

    background-image: url(../../../CSS/practice/PSD001/imagr/1st\ Bg\ page.png);
    height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow-x: hidden; */



}


.pic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;




}

/* .shape1 {
    position: relative;
    left: 0;
    padding: 5px;
} */

.nav {
    display: flex;
    justify-content: end;
    gap: 30px;
}

.pic button {
    /* padding: 15px; */
    height: 20px;
    width: 80px;
    border-radius: 30px;
    background-color: #7f7770;
}

.pic2 button {

    padding: 10px;
    border-radius: 30px;
    background-color: #ffffff;
    font-weight: 800;
    color: #776c64;
}

.pic2 {
    /* padding: 10px; */
    overflow-x: hidden;
    bottom: -170px;
    position: absolute;
}





.pic2 p {
    padding: 20px;
    width: 452px;
    height: 130px;
    font-size: 21px;
    letter-spacing: 1px;
    color: #54524f;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
}





.pic2 h1 {

    font-size: 50px;
    color: #deb37e;
    font-weight: 800;
    font-family: "Open Sans";
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.22));
}

.pic2 h4 {

    font-size: 25px;
    letter-spacing: 5px;
    color: #54524f;
    font-weight: 700;
    font-style: italic;

}

.page02 h1 {
    font-size: 63px;
    text-transform: uppercase;
    color: #e2a355;
    font-weight: 800;
    font-family: "Open Sans";
}

.page02 {
    /* width: 1788px; */
    /* height: 210px; */
    font-size: 27px;
    color: #7f7770;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}


.manpage {

    display: flex;
    gap: 100px;
    padding: 20px;
}

.box1 img,
.box2 img,
.box3 img {
    width: 100%;
}

.box1,
.box2,
.box3 {
    width: 30%;
}


.box011,
.box022,
.box033 {
    background-color: #7f7770;
    font-size: 23px;
    color: #ffffff;
    font-weight: 400;
}

.manpage button {
    font-size: 23px;
    letter-spacing: 5px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-family: "Open Sans";
}

.btn button {
    width: 100px;
    height: 34px;
    border-radius: 20px;
    background-color: #7f7770;
    color: #ffffff;


}

.thirdpage {
    text-align: center;
    font-size: 20px;
}

.btn {
    text-align: center;

}

.thirdpagr,
.c50 {
    justify-content: space-between;
    align-items: end;

}



.photo1 {
    text-align: center;
    align-items: center;
    font-size: 18px;
    /* justify-content: space-between; */
    display: flex;
    background-color: #7f7770;
    color: #ffffff;
    font-family: "Open Sans";
}

.photo1 button {

    border-radius: 37px;
    background-color: #e2a355;
    width: 150px;
    height: 30px;
}

.photo1 img {
    width: 100%;
    /* height: 200px; */

}

.thirdpage,
.h1 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}

.thirdpage,
.p {

    font-size: 29px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
}

.forepage {
    display: flex;
    background-color: #deb37e;
    /* padding: 30px; */
    text-align: center;
    align-items: center;

}

.forepage1 h1 {
    padding: 30px;
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";

}

.forepage1 p {
    padding: 10px;
    font-size: 12px;
    color: #ffffff;
    /* font-weight: 700; */
}

.forepage button {
    /* padding: 20px; */
    line-height: 30px;
    /* text-transform: uppercase; */
    color: #ffffff;
    width: 200px;
    height: 35px;
    border-radius: 30px;
    background-color: #e2a355;
}

.fivepage {
    background-color: #7f7770;
    opacity: 0.800;
    align-items: center;
    text-align: center;
    padding: 100px;

}

.fivepage h1 {
    font-size: 50px;
    padding: 15px;
    color: #ffffff;


}

.fivepage p {
    font-size: 20px;
    color: #ffffff;

}


.sixpage {
    background-image: url(../PSD001/imagr/bgimg6oage.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;


}


.sixpage h1 {
    /* padding: 30px; */
    padding-top: 280px;
    padding-right: 60px;
    font-size: 50px;
    color: #deb37e;
    font-weight: 800;
    font-style: italic;
    font-family: "Open Sans";
    text-align: right;
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.36));
}

.sixpage h2 {

    /* padding: 30px; */
    font-size: 50px;
    padding-right: 60px;
    color: rgb(10, 9, 9);
    font-weight: 800;
    font-style: italic;
    font-family: "Open Sans";
    text-align: right;
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.36));

}

.sevenpage {
    color: black;
    display: flex;
    padding: 15px;
}

.sevenpage h1 {
    font-size: 33px;
    line-height: 33px;
    color: #deb37e;
    font-weight: 700;
    font-family: "Open Sans";
}

.page110 h3 {
    font-size: 100px;
    padding: 10px;

}

.sevenpage p {
    font-size: 20px;
    line-height: 25px;
    color: #333d42;
    font-weight: 400;
    font-family: "Open Sans";
}

.page110 {

    color: #3f3f3f;
    text-align: center;
}



.page110 h5 {
    padding: 15px;
    font-size: 40px;
    line-height: 40px;
    color: #3f3f3f;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}

.eightpage {
    background-color: #e2a355;
    color: black;
    padding: 30px;
    text-align: center;
}

.eightpage h1 {
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    align-items: center;
}

.eightpage p {

    font-size: 30px;
    color: #54524f;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.eightpage button {
    margin-right: 10px;
    border-radius: 30px;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    background-color: #54524f;
}

.eightpage input {
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 30px;

}

.footer {
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}